/* Coolors Exported Palette - https://coolors.co/80463a-f5f5f5-a64c3a-e7ccc6-2c0f0c */

/* CSS HEX */
--bole: #80463aff;
--white-smoke: #f5f5f5ff;
--chestnut: #a64c3aff;
--pale-dogwood: #e7ccc6ff;
--black-bean: #2c0f0cff;

/* CSS HSL */
--bole: hsla(10, 38%, 36%, 1);
--white-smoke: hsla(0, 0%, 96%, 1);
--chestnut: hsla(10, 48%, 44%, 1);
--pale-dogwood: hsla(11, 41%, 84%, 1);
--black-bean: hsla(6, 57%, 11%, 1);

/* SCSS HEX */
$bole: #80463aff;
$white-smoke: #f5f5f5ff;
$chestnut: #a64c3aff;
$pale-dogwood: #e7ccc6ff;
$black-bean: #2c0f0cff;

/* SCSS HSL */
$bole: hsla(10, 38%, 36%, 1);
$white-smoke: hsla(0, 0%, 96%, 1);
$chestnut: hsla(10, 48%, 44%, 1);
$pale-dogwood: hsla(11, 41%, 84%, 1);
$black-bean: hsla(6, 57%, 11%, 1);

/* SCSS RGB */
$bole: rgba(128, 70, 58, 1);
$white-smoke: rgba(245, 245, 245, 1);
$chestnut: rgba(166, 76, 58, 1);
$pale-dogwood: rgba(231, 204, 198, 1);
$black-bean: rgba(44, 15, 12, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #80463aff, #f5f5f5ff, #a64c3aff, #e7ccc6ff, #2c0f0cff);
$gradient-right: linear-gradient(90deg, #80463aff, #f5f5f5ff, #a64c3aff, #e7ccc6ff, #2c0f0cff);
$gradient-bottom: linear-gradient(180deg, #80463aff, #f5f5f5ff, #a64c3aff, #e7ccc6ff, #2c0f0cff);
$gradient-left: linear-gradient(270deg, #80463aff, #f5f5f5ff, #a64c3aff, #e7ccc6ff, #2c0f0cff);
$gradient-top-right: linear-gradient(45deg, #80463aff, #f5f5f5ff, #a64c3aff, #e7ccc6ff, #2c0f0cff);
$gradient-bottom-right: linear-gradient(135deg, #80463aff, #f5f5f5ff, #a64c3aff, #e7ccc6ff, #2c0f0cff);
$gradient-top-left: linear-gradient(225deg, #80463aff, #f5f5f5ff, #a64c3aff, #e7ccc6ff, #2c0f0cff);
$gradient-bottom-left: linear-gradient(315deg, #80463aff, #f5f5f5ff, #a64c3aff, #e7ccc6ff, #2c0f0cff);
$gradient-radial: radial-gradient(#80463aff, #f5f5f5ff, #a64c3aff, #e7ccc6ff, #2c0f0cff);